<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">

    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/JSONSchemaGenerator</directory>
        </testsuite>
    </testsuites>
    <coverage includeUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/JSONSchemaGenerator</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
            <directory>./Tests</directory>
        </exclude>
        <report>
            <clover outputFile="build/logs/clover.xml" />
            <html outputDirectory="build/logs/html-coverage" />
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/artifacts/logs/junit.xml" />
        <testdoxText outputFile="build/logs/testdox.txt"/>
    </logging>
</phpunit>
